<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/ItunesArtwork57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/ItunesArtwork512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.book.scan</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>Book Scan</string>
			</dict>
			<key>thinned-assets</key>
			<array>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-1D1C4CAB-03BD-479B-9245-43D74721FFC7.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-FE53D936-E6E3-463B-A6C7-323265702CE6.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-4767DA77-242B-4458-8295-13C4ACC6602F.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad3,6</string>
						<string>iPad3,4</string>
						<string>iPad3,2</string>
						<string>iPad3,5</string>
						<string>iPad3,3</string>
						<string>iPad3,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-D5DE3C7E-79A4-4713-8434-1155F4379D33.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,9</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad8,1</string>
						<string>iPad8,8</string>
						<string>iPad8,7</string>
						<string>iPad8,6</string>
						<string>iPad8,5</string>
						<string>iPad8,4</string>
						<string>iPad8,3</string>
						<string>iPad8,2</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-DBF7BA1E-D24A-4AB2-BAD8-C22FADA84ADC.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad7,4</string>
						<string>iPad4,5</string>
						<string>iPad7,5</string>
						<string>iPad4,6</string>
						<string>iPad6,3</string>
						<string>iPad5,1</string>
						<string>iPad6,11</string>
						<string>iPad7,6</string>
						<string>iPad5,2</string>
						<string>iPad6,4</string>
						<string>iPad4,7</string>
						<string>iPad5,3</string>
						<string>iPad4,1</string>
						<string>iPad4,8</string>
						<string>iPad6,12</string>
						<string>iPad7,1</string>
						<string>iPad5,4</string>
						<string>iPad4,9</string>
						<string>iPad4,2</string>
						<string>iPad7,2</string>
						<string>iPad4,3</string>
						<string>iPad6,7</string>
						<string>iPad7,3</string>
						<string>iPad4,4</string>
						<string>iPad6,8</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-88AECD14-ED43-4660-939B-153C6A8BABFB.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,6</string>
						<string>iPhone11,2</string>
						<string>iPhone11,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-94601B9E-2BBE-4C67-B25A-5BAA70F09201.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone12,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone12,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-06E63A86-EF61-46D8-9149-5BEED945FFB5.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad2,3</string>
						<string>iPad2,2</string>
						<string>iPad2,1</string>
						<string>iPad2,7</string>
						<string>iPad2,6</string>
						<string>iPad2,5</string>
						<string>iPad2,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-6157DB57-769C-40A4-8920-6FA8B656E593.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-8C8DF05F-E7FF-478A-9EBE-D6ED4FA47439.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone5,2</string>
						<string>iPod5,1</string>
						<string>iPhone5,3</string>
						<string>iPhone4,1</string>
						<string>iPhone5,1</string>
						<string>iPhone5,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-9473E84B-55F8-4502-92F2-3E20FBC5B286.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPod9,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-1ABF487C-0954-423D-A1E4-2E7278A8F9F9.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-300E52DD-8901-4756-AAEE-847BD2491E21.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone10,2</string>
						<string>iPhone7,1</string>
						<string>iPhone10,6</string>
						<string>iPhone10,5</string>
						<string>iPhone8,2</string>
						<string>iPhone9,4</string>
						<string>iPhone10,3</string>
						<string>iPhone9,2</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-A7CBDE85-0D8E-4A9F-82A2-9D804843201C.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone10,1</string>
						<string>iPhone8,1</string>
						<string>iPhone9,3</string>
						<string>iPhone6,2</string>
						<string>iPhone9,1</string>
						<string>iPhone7,2</string>
						<string>iPod7,1</string>
						<string>iPhone10,4</string>
						<string>iPhone8,4</string>
						<string>iPhone6,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-E74C9523-257D-45F7-B0D3-7041E5B1AEEA.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,9</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad11,3</string>
						<string>iPad11,2</string>
						<string>iPad11,1</string>
						<string>iPad11,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-D078DB0A-85C4-49FB-9FEA-F310F3F7AD88.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,8</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-A18B5E76-ECAF-4A88-96AB-B3B28E79A29D.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,11</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,12</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad7,11</string>
						<string>iPad7,12</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.book.scan</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://arshak-kahnputers.github.io/Book-Scan-EBEA3C3B-EB35-4B90-AB55-2FD81EE0210D.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone12,5</string>
						<string>iPhone12,3</string>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
