<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Profit Scan.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
				<key>dateExpires</key>
				<string>26/06/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ESPullToRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Gecco.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxAlamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxRealm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RxSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftSoup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftValidator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyOnboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>XLPagerTabStrip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F60392B2052908D88CAE00EC2CE0C9A85FB94F55</string>
						<key>dateExpires</key>
						<string>26/06/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7QDV9J7J9G</string>
						<key>name</key>
						<string>ProfitScan Technologies LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7QDV9J7J9G.com.profit.scan</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7QDV9J7J9G</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>7QDV9J7J9G.com.profit.scan</string>
				</array>
			</dict>
			<key>name</key>
			<string>Profit Scan.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c8465994-e13b-459e-9635-5e9a1cabf627</string>
				<key>name</key>
				<string>Profit Scan Development Provisioning Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7QDV9J7J9G</string>
				<key>name</key>
				<string>ProfitScan Technologies LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
